.App {
  text-align: center;
  background-color: gray;
}
Link{
  text-decoration: none;
}
.butt{
  margin-top: 20px;
}
.butt input{
  padding: 14px;
}
.textbox{
  padding: 10px;
  margin-top: 16px;
}
.clear{
  margin-left: 120px;
}
.char{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}